<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-mobile-face-detection"
        version="0.1">

  <name>Face</name>

  <engines>
    <engine name="cordova-android" version=">=6.3.0" />
  </engines>

  <asset src="www/recface.js" target="js/recface.js"/>

  <js-module src="www/recface.js" name="face">
    <clobbers target="face" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="face">
        <param name="android-package" value="com.syneotools.faceplugin"/>
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face"/>
    </config-file>

    <source-file src="src/android/Face.java" target-dir="src/com/synetools/faceplugin/" />
    <framework src="com.google.android.gms:play-services-vision:17.0.2" />

  </platform>


</plugin>
